@model ArtGalleryECommerce.UI.Models.UserResetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chandni Creative Art</title>
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
    <link href="~/UserTemplate/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/UserTemplate/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/UserTemplate/css/style.css" />
</head>
<body class="login-page">
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    {
        <div class="login-box">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="@Url.Action("ChangePassword","User")">Reset Password</a></li>
                <li><a href="@Url.Action("UserLogin","User")">Login</a></li>
            </ul>
            <div class="login-box-body">
                <p class="login-box-msg">Reset Your Password</p>
                <div class="form-group has-feedback">
                    @Html.TextBox("EmailId", "", new { @class = "form-control", @placeholder = "Enter Your EmailId" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.Password("Password", "", new { @class = "form-control", @placeholder = "Enter Your Password" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.Password("ConfirmPassword", "", new { @class = "form-control", @placeholder = "Enter Your Confirm Password" })
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="checkbox icheck">

                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-6 mb3">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" id="btnResetPassword">Reset Password</button>

                    </div>
                    <div class="col-xs-4">
                        <a class="pull-right" href="@Url.Action("UserLogin","User")">Login</a>
                    </div>
                    @if (ViewBag.successText != null || ViewBag.successText != "")
                    {
                        <div class="tx-info tx-12 d-block mg-t-10 text-success">@ViewBag.successText</div>
                    }
                    @if (ViewBag.failureText != null || ViewBag.failureText != "")
                    {
                        <div class="tx-info tx-12 d-block mg-t-10 text-danger">@ViewBag.failureText</div>
                    }
                    <!-- /.col -->
                </div>
            </div>
        </div>
    }

    <!-- FOOTER -->
    <footer id="footer" class="section-grey" style="position: fixed; bottom: 0; width: 100%;">
        <!-- container -->
        <div class="container text-center">
            <div class="footer"> Copyright &copy; 2020 All rights reserved </div>
        </div>
        <!-- /container -->
    </footer>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <script src="~/UserTemplate/js/jquery.min.js"></script>
    <script src="~/UserTemplate/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#btnResetPassword").click(function () {
                if (ValidateResetPassword()) {
                    $.ajax({
                        type: 'POST',
                        dataType: 'JSON',
                        url: '/User/ResetPassword',
                        data: { NewPassword: $("#txtNewPassword").val() },
                        success: function (res) {
                            $("#lblConfirmMsg").show();
                            $("#lblConfirmMsg").text(res);
                        }

                    })
                }
            });
        });

        function ValidateResetPassword() {
            if ($("#txtNewPassword").val() == '' || $("#txtForgotPassword").val() == undefined) {
                $("#lblNewPassword").text('Please Enter New Password');
                return false;
            }
            else {
                return true;
            }
            if ($("#txtConfirmPassword").val() == '' || $("#txtConfirmPassword").val() == undefined) {
                $("#lblConfirmPassword").text('Please Enter Confirm Password');
                return false;
            }
            else {
                if ($("#txtNewPassword").val() == $("#txtConfirmPassword").val()) {
                    return true;
                }
                else {
                    $("#lblConfirmPassword").text('New Password and Confirm Password Should Same');
                    return false;
                }
            }
        }
    </script>
    @*<script src="~/CustomScripts/UserSignUp.js"></script>*@
</body>
</html>
