@model ArtGalleryECommerce.UI.Models.ItemGroupModel
@{
    ViewBag.Title = "ItemGroup";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/AdminTemplate/themepixels.me/bracketplus/1.4/app/lib/highlightjs/styles/github.css" rel="stylesheet">
<link href="~/AdminTemplate/themepixels.me/bracketplus/1.4/app/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="~/AdminTemplate/themepixels.me/bracketplus/1.4/app/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="~/AdminTemplate/themepixels.me/bracketplus/1.4/app/css/bracket.css" rel="stylesheet" />
<script src="~/AdminTemplate/themepixels.me/bracketplus/1.4/app/lib/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/AdminTemplate/themepixels.me/bracketplus/1.4/app/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
<script src="~/AdminTemplate/themepixels.me/bracketplus/1.4/app/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/AdminTemplate/themepixels.me/bracketplus/1.4/app/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
<script>
    $(function () {
        $('.modal-effect').on('click', function (e) {
            e.preventDefault();
            var effect = $(this).attr('data-effect');
            $('#modaldemo1').addClass(effect);
            $('#modaldemo1').modal('show');
        });
        $('#modaldemo1').on('hidden.bs.modal', function (e) {
            $(this).removeClass(function (index, className) {
                return (className.match(/(^|\s)effect-\S+/g) || []).join(' ');
            });
        });
    });
</script>
<script>
    $(function () {
        'use strict';

        $('#datatable1').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_ items/page',
            }
        });
        //$('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

    });
</script>

<div class="br-mainpanel">
    <div id="modaldemo1" class="modal fade">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Message Preview</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("ItemGroup", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-layout form-layout-5">
                        <div class="row">
                            <label class="col-sm-2 form-control-label"><span class="tx-danger">*</span> Group Name:</label>
                            <div class="col-sm-10 mg-t-10 mg-sm-t-0">
                                @Html.TextBoxFor(m => m.GroupName, "", new { @class = "form-control", @placeholder = "Enter GroupName" })
                                @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
                            </div>
                        </div><!-- row -->
                        <div class="row mg-t-20">
                            <label class="col-sm-2 form-control-label"><span class="tx-danger">*</span> Group Desc:</label>
                            <div class="col-sm-10 mg-t-10 mg-sm-t-0">
                                @*@Html.TextAreaFor(m => m.GroupDesc, "", new { @class = "form-control", @placeholder = "Enter GroupDesc", @rows = "2" })*@
                                @Html.TextAreaFor(m => m.GroupDesc, new { @class = "form-control", @placeholder = "Enter GroupDesc", @rows = "2" })
                                @Html.ValidationMessageFor(model => model.GroupDesc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-2 form-control-label"><span class="tx-danger">*</span> Group Image:</label>
                            <div class="col-sm-10 mg-t-10 mg-sm-t-0">
                                @*<input type="file" class="form-control" />*@
                                @Html.TextBoxFor(m => m.GroupImage, new { type = "file", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.GroupImage)
                                <input type="file" name="GroupImage" class="form-control" />
                            </div>
                        </div>
                        <!-- row -->
                        <div class="row mg-t-30">
                            <div class="col-sm-8 mg-l-auto">
                                <div class="form-layout-footer">
                                    <button class="btn btn-info" type="submit">Submit Form</button>
                                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div><!-- form-layout-footer -->
                            </div><!-- col-8 -->
                        </div>
                    </div><!-- form-layout -->
                }
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Save changes</button>
                        <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Close</button>
                    </div>*@
            </div>
        </div><!-- modal-dialog -->
    </div><!-- modal -->

    <div class="br-pagetitle"> 
            <div>
                <h4>ITEM GROUP DATATABLE </h4>
                <p class="mg-b-0">Searching, Ordering and Paging goodness will be immediately added to the table.</p>
            </div>
            <div class="selected">
                <button class="btn btn-info modal-effect" data-effect="effect-newspaper">Add Item Group</button>
            </div><!-- d-flex -->
        </div> 

<div class="br-pagebody">
    <div class="br-section-wrapper">
        @*<h6 class="br-section-label">Basic Responsive DataTable</h6>
            <p class="br-section-text">Searching, ordering and paging goodness will be immediately added to the table, as shown in this example.</p>*@

        <div class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th class="wd-15p">First name</th>
                        <th class="wd-15p">Last name</th>
                        <th class="wd-20p">Position</th>
                        <th class="wd-15p">Start date</th>
                        <th class="wd-10p">Salary</th>
                        <th class="wd-10p">E-mail</th>
                        <th class="wd-15p">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tiger</td>
                        <td>Nixon</td>
                        <td>System Architect</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                        <td>t.nixon@datatables.net</td>
                        <td><input type="button" value="edit" /></td>
                    </tr>
                    <tr>
                        <td>Garrett</td>
                        <td>Winters</td>
                        <td>Accountant</td>
                        <td>2011/07/25</td>
                        <td>$170,750</td>
                        <td>g.winters@datatables.net</td>
                        <td><input type="button" value="Edit" /></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

    </div>
